params {
    dataset = null
    dataset_format = 'ml'
    distance = 'hamming'
    algorithm = 'goeburst'
    outdir = 'results'
    matrix_format = 'symmetric'
    tree_format = 'newick'
    lvs = 3
    force_dense = false
    container = 'phyloviz/phylolib:1.0.0'
}

process {
    errorStrategy = 'terminate'
}

profiles {
    docker {
        docker.enabled = true
        process.container = params.container
    }
}

report {
    enabled = true
    file = "${params.outdir}/execution_report.html"
    overwrite = true
}
